<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Swift Payroll System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<header class="navbar">
    <div class="container">
        <h2 class="logo">Swift Payroll</h2>
        <nav>
            <a href="/">Home</a>
            <a href="/">Calculate</a>
        </nav>
    </div>
</header>

<main class="container">
    {% block content %}{% endblock %}
</main>

<footer class="footer">
    <p>© 2026 Swift Payroll Systems | Developed by Corey</p>
</footer>

</body>
</html>
